/**
 * Base : placement des blocs principaux
 *
 * #bando_haut
 *   #bando_liens_rapides  : accès
 *   #bando_identite       : connexion etc.
 *   #bando_navigation     : menu principal
 *   #bando_outils         : outils rapides
 * #page
 *   .largeur
 *     #haut               : breadcrumb
 *     #conteneur
 *       #navigation.lat   : navigation
 *       #contenu          : contenu principal
 *   #pied                 : pied de page
 *     .largeur
 *
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Conteneur générique */
.largeur {
  padding: 0 $bs;

  &.clearfix {
    height: auto;
    &:after {
      display: none;
    }
   }
}

/* En haut du contenu principal */
#haut {
  margin-top: $bs;
}
/* Contenu principal */
#conteneur {
  margin-top: $bs;
}

/* Responsive : bureaux */
@include tablet {

  // menu sur le côté,
  body {
    padding-left: $largeur-menu;
  }
  #bando_navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: $largeur-menu;
    height: 100vh;
    overflow-y: auto;
  }

  // Pied de page en bas
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  #page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  #pied {
    margin-top: auto; // pour le pousser en bas
  }

  // Contenu en colonnes
  #conteneur {
    @include row;
    overflow: hidden;
  }
  #navigation {
    @include gutter;
    flex: 0 1 auto;
    max-width: $largeur-navigation;
    order: 2;
  }
  #contenu {
    @include gutter;
    flex: 1 0 auto;
    flex-basis: 0;
    order: 1;
  }
  // en sticky
  .nav-is-stuck {
    #navigation {
      position: fixed;
      top: $bs;
      height: calc( 100vh - #{$bs} );
      overflow-y: auto;
    }
    #contenu {
      margin-left: $bs*14;
    }
  }

  // Classes utilitaires pour des colonnes
  // Malheureusement, il n'y a pas de conteneur donc pas de flex
  #contenu .gauche,
  #contenu .droite {
    width: calc(50% - (#{$bs} / 2)) !important;
  }
  .gauche {
    float: left;
  }
  .droite {
    float: right;
    margin-left: $bs;
    @include clear-after;
  }

}
