
/**
 * Base : éléments typographiques, couleurs, rythme vertical
 */

body {
  font-size: $typo-font-size;
  line-height: $typo-line-height;
  font-family: $font-family-texte;
  color: $couleur-texte;
  background-color: _hsl($teinte, 20%, 95%);
}

/* Marges sous les principaux blocs */
p, table, pre, ul, ol, address, dl, blockquote {
  margin-bottom: $bs;
}

/* Liens */
a {
  text-decoration: none;
  &:link {
    transition:
      color 0.2s,
      background-color 0.2s,
      text-indent 0.2s;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: $couleur-theme-dark;
  }
}

/* Titres */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: bold;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  margin-top: $bs*2;
}
// Titre des pages
.grostitre {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

/* paragraphes */
p {
  // En général on ne veut pas de marge en bas quand c'est le dernier
  &:last-child {
    margin-bottom: 0;
  }
}

/* listes */
ul {}
.list-none {
  margin: 0;
}

/* tableaux */
table {
  width: 100%;

  // lignes
  tr {
    transition: background 0.2s;
    // pas de bordure tout en bas
    // [FIXME] Vérifier quand il y a un footer
    &:last-child td {
      border-bottom: none;
    }
  }
  // cellules
  th,
  td {
    padding: $bs*0.5 $bs;
  }
  // titre
  caption {
    font-weight: bold;
  }
  // header
  thead {
    tr {}
    th {
      border-bottom: 1px solid $couleur-neutre-bordure;
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: 600;
      text-align: left;
      strong {
        font-weight: inherit;
      }
    }
  }
  &.text-center thead th {
    text-align:center;
  }
  // body
  tbody {
    tr {
      &:hover {
        background-color: $couleur-neutre-light-alpha;
      }
    }
    td {
      border-bottom: 1px solid $couleur-neutre-bordure;
    }
  }
  // footer
  tfoot {
    tr {}
    th {}
  }
  /* Ajustement de certaines colonnes (normalement plutôt dans .liste-objets mais pas le bon markup partout, genre médiathèque) */
  // dernier item aligné à droite
  .id:last-child,
  .action:last-child {
    text-align: right;
  }
  // rétrécir certaines colonnes (on essaye d'obtenir flex-grow: 0 quoi)
  /*.id, .picto, .statut {
    width: 2em;
  }*/

  /* Classe virtuelle */
  &.gr-minimal {
    th, td {
      padding: $bs/4;
    }
  }
}


/* Icônes (complément à fontello) */
.icon {
  &:before,
  &:after {
    font-family: "Icons";
    font-weight: normal;
    text-indent: 0; // si on a caché le texte
    display: inline-block;
  }
}

/* codes informatiques et cie */
code, pre, .code, .pre {
  font-family: $font-family-code;
  color: $couleur-code;
}

/* Séparateur */
hr {
  margin: $bs*2 0;
  border-style: dotted;
  border-color: hsla(0, 0%, 0%, 0.25);
}

/* citations */
blockquote {
  padding-left: $bs;
  border-left: 4px solid $couleur-texte;
  font-family: $font-family-serif;
  font-style: italic;

  &:before {
    display: none; // pas de guillemets pour faire joli
  }
}

/* Couleurs */
.gr-color {
  color: $couleur-theme;
  &-lightest {
    color: $couleur-theme-lightest;
  }
  &-lighter {
    color: $couleur-theme-lighter;
  }
  &-light {
    color: $couleur-theme-light;
  }
  &-dark {
    color: $couleur-theme-dark;
  }
  &-darker {
    color: $couleur-theme-darker;
  }
  &-darkest {
    color: $couleur-theme-darkest;
  }
}