/**
 * Base : définition des variables du projet
 *
 */

/* Palette de couleur */

// Couleurs de SPIP (codées en dur dans/inc/couleurs.php, on prend la «foncee»)
$couleurs-spip: (
  1: #9DBA00,
  2: #D51B60,
  3: #fa9a00,
  4: #CDA261,
  5: #5da7c5,
  6: #85909A,
  7: #999966,
  8: #DF4543,
  9: #8F8FBD,
  10: #909090
);
// On les ajuste afin d'avoir des variantes cohérentes
$couleurs-spip: egaliser-couleurs($couleurs-spip, 100%);

// Couleurs d'états (piochées dans celles de SPIP par cohérence)
$couleur-succes: map-get($couleurs-spip, 1); // vert
$couleur-erreur: map-get($couleurs-spip, 8); // rouge
$couleur-notice: map-get($couleurs-spip, 3); // jaune
$couleur-info:   map-get($couleurs-spip, 5); // bleu

// Couleurs fonctionnelles
$couleur-defaut:              map-get($couleurs-spip, 9); // gris-violet
$couleur-neutre-claire:       hsl(0, 0%, 97%);
$couleur-neutre-claire-alpha: hsla(0, 0%, 0%, 0.03);
$couleur-neutre-sombre:       hsl(0, 0%, 20%);
$couleur-neutre-sombre-alpha: hsla(0, 0%, 0%, 0.8);
$couleur-neutre-bordure:      hsla(0, 0%, 0%, 0.075);
$couleur-texte:               $couleur-neutre-sombre;
$couleur-texte-light:         lighten($couleur-texte, 33);
$couleur-code:                navy;

// Variantes de la couleur du thème
// (Absolu)
// Lightest
// $couleur-lightest-params: (lightness: 80%);
// $couleur-lightest: changer-couleur($couleur-defaut, $couleur-lightest-params);
// Lighter
// $couleur-lighter-params: (lightness: 70%);
// $couleur-lighter: changer-couleur($couleur-defaut, $couleur-lighter-params);
// // Light
// $couleur-light-params: (lightness: 60%);
// $couleur-light: changer-couleur($couleur-defaut, $couleur-light-params);
// // Dark
// $couleur-dark-params: (lightness: 40%);
// $couleur-dark: changer-couleur($couleur-defaut, $couleur-dark-params);
// // Darker
// $couleur-darker-params: (lightness: 30%);
// $couleur-darker: changer-couleur($couleur-defaut, $couleur-darker-params);
// Darkest
//$couleur-darkest-params: (lightness: 20%);
//$couleur-darkest: changer-couleur($couleur-defaut, $couleur-darkest-params);
// (Relatif)
// Lightest
$couleur-lightest-params: (lightness: +35%);
$couleur-lightest: ajuster-couleur($couleur-defaut, $couleur-lightest-params);
// Lighter
$couleur-lighter-params: (lightness: +30%);
$couleur-lighter: ajuster-couleur($couleur-defaut, $couleur-lighter-params);
// Light
$couleur-light-params: (lightness: +15%);
$couleur-light: ajuster-couleur($couleur-defaut, $couleur-light-params);
// Dark
$couleur-dark-params: (lightness: -15%);
$couleur-dark: ajuster-couleur($couleur-defaut, $couleur-dark-params);
// Darker
$couleur-darker-params: (lightness: -30%);
$couleur-darker: ajuster-couleur($couleur-defaut, $couleur-darker-params);
// Darkest
$couleur-darkest-params: (lightness: -35%);
$couleur-darkest: ajuster-couleur($couleur-defaut, $couleur-darkest-params);
//
$couleur-inverse-params: (hue: 180deg);
$couleur-inverse: ajuster-couleur($couleur-defaut, $couleur-inverse-params);

/* Variables de typographie */
$typo-font-size: em(14px);
$typo-line-height: 1.5;


/* Gouttière, rythme vertical, etc. */
$bs: $typo-font-size*$typo-line-height/1em*1rem; // base spacing = 1 hauteur de ligne
$largeur-menu: $bs*9;
$radius: 2px;


/* Familles de polices */
$font-family-texte:   "Source Sans Pro", sans-serif, sans; // Texte principal
$font-family-heading: "Source Sans Pro", sans-serif, sans; // Titres
$font-family-code:    "Source Code Pro", monospace; // Codes
$font-family-serif:   "Source Serif Pro", serif; // Aperçu des contenus
