/**
 * Section : bando
 *
 * #bando_haut
 *   #bando_liens_rapides
 *   #bando_principal
 *      #bando_identite
 *      #bando_site
 *      #bando_outils
 *      #bando_rechercher
 *      #bando_collaborer
 *   #bando_navigation
 */

/**
 * ===============
 * Tous les bandos
 * ===============
 */
[id^=bando] {
  ul {
    @extend .list-none;
  }
}


/**
 * =========================
 * Bandeau liens d'évitement
 * =========================
 */
#bando_liens_rapides {
  display: none;
}


/**
 * =================
 * Bandeau principal
 * =================
 */

/* Ordonnancement général et alignement */
#bando_identite   { order: 1; }
#bando_plan       { order: 2; }
#bando_outils     { order: 3; }
#bando_collaborer { order: 4; }
#bando_rechercher { order: 5; }
#bando_site       { order: 6; }

/* Conteneur et choses communes à tous les bandos */
$bando_principal_height: $spacing*2;
#bando_principal {
  display: flex;
  align-items: center; // vertical
  height: $bando_principal_height;
  padding: 0 $spacing;
  background-color: white;
  box-shadow: 0 0.15em 0.15em hsla(0, 0%, 0%, 0.066);

  // Tous les sous bandos
  > * {
    align-self: strech; // prendre toute la hauteur du conteneur
    display: flex;
    align-items: center; // vertical
  }

  // Tous les liens
  a {
    color: $couleur-theme-dark;
    &:hover,
    &:focus,
    .actif & {
      color: $couleur-theme-darkest;
    }
  }


  // Tous les menus déroulants
  nav.depliant {
    display: flex;
    position: relative;
    z-index: 2;
    align-items: flex-end; // vertical
    > .toggle {
      position: relative;
      display: flex;
      justify-content: center; // horizontal
      align-items: center; // vertical
      min-width: $spacing;
      height: $bando_principal_height;
      padding: 0 $spacing/1.5; // espace les icônes et facilite l'apparition du sous-menu
      line-height: 1;
      border:0;
      background:transparent;
      color:$couleur-theme-dark;
      &:hover {
        color: $couleur-theme-darkest;
      }
      &:focus {
        background-color: $couleur-theme-darkest;
        color:white;
      }
      &::-moz-focus-inner {
        border:0;
      }

        // dropdown pour indiquer qu'il y a un sous-menu
      &:after {
        content: '\e812'; // = .icon-down-fill;
        font-family: icons;
        position: absolute;
        top: 50%;
        right: $spacing/4;
        transform: translateY(-50%);
        opacity:.2;
        color: $couleur-theme-dark;
        transition: opacity .2s, color .2s;
      }
      &:hover:after {
        opacity:1;
        color: $couleur-theme-darkest;
      }
      &:focus:after {
        opacity:1;
        color:white;
      }
    }
    ul {
      display: none;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(100%);
      min-width: 14em;
      padding: 0;
      background-color: white;
      box-shadow: 0 0.2em 0.2em hsla(0, 0%, 0%, 0.15);
      /* contour caché pour faciliter le survol à la souris */
      &:before {
        z-index: -1;
        position: absolute;
        top: 0;
        left: -2em;
        right: -2em;
        bottom: -2em;
        background-color: transparent;
        /*border:1px solid blue;*/
        content: '';
      }
      /* contour du 2è niveau */
      ul:before {
        top:-2em;
      }

      a {
        display: block;
        padding: $spacing/2 $spacing;
        line-height: 1.1;
        &:hover,
        &:focus {
          background-color: _hsl($teinte, $saturation, 95%);
        }
      }
    }

    > .toggle[aria-expanded=true] {
      background-color: $couleur-theme;
      color: white;
      &:focus { background-color: $couleur-theme-darkest; }

      &:after {
        color: white;
      }

      & + ul {
        display: block;

        li.haschild {
          position: relative;
          > a {
            // Icône pour indiquer qu'il y a un autre sous-menu
            @extend .icon;
            @extend .icon-right-open;
            &:before {
              position: absolute;
              top: 50%;
              right: $spacing/2;
              transform: translateY(-50%);
            }
          }
          > ul {
            top: 0;
            right: 0;
            bottom: initial;
          }
          &.actif {
            > ul {
              display: block;
              transform: translateX(100%);
            }
          }
        }
      }
    }
  }

  // Boutons avec icones
  .rapides {
    .bouton {
      a {
        background-position: left $spacing/2 center;
        background-repeat: no-repeat;
        padding-left: 1.8*$spacing;
      }
    }
    &.depliant ul {
      min-width:16em;
    }
  }

}

/* Nom du site et lien public */
#bando_site {
  .nom_site_spip {
    display: flex;
  }
  a {
    height: $bando_principal_height;
    display: flex;
    align-items: center; // vertical
  }
  .voir {
    margin-left: $spacing;
    padding: 0 $spacing/2;
  }
}

/* Recherche */
#bando_rechercher {
  flex: 1 1 auto;
  justify-content: center;
  input[name=recherche] {
    height: $bando_principal_height;
  }
}

/* Nom de l'utilisateurice */
#bando_principal #bando_identite {
  > .toggle {
    padding-right:$spacing;
  }
}

// Plan du site
#bando_plan {
  // icone
  > .toggle {
    @extend .icon-sitemap;
    @extend .icon;
    img {
      display: none;
    }
  }
  // sous-menus
  ul {
    .toutsite {
      border-bottom: 1px dotted hsla(0, 0%, 0%, 0.2);
    }
  }
}

/* Boutons de créations rapides */
#bando_outils  {
  > .toggle {
    @extend .icon;
    @extend .icon-create;
    text-indent: -999999px; // cacher le texte
  }
  > ul > li > a {
    padding-left: $spacing*1.5; // place pour les icônes
  }
}

/* Agenda et forum interne */
#bando_collaborer {
  > .toggle {
    @extend .icon;
    @extend .icon-calendar;
    text-indent: -999999px; // cacher le texte
  }
  > ul > li > a{
    padding-left: $spacing*1.5; // place pour les icônes
  }
}


/**
 * ==============================
 * Bando de navigation principale
 * ==============================
 *
 * #bando_navigation
 *   .largeur
 *     nav
 *       ul.depliant
 *         li(.actif)
 *           a#bando1_menu_XXX
 *           ul
 *             li.favori(.actif)
 *             li.non-favori(.actif)
 *
 */
.navigation_avec_icones a[id^=bando1_menu] {
  background-image: none !important;
}
#bando_navigation {
  z-index: 10;
  color: $couleur-neutre-light;
  background-color: $couleur-theme-darkest;

  ul {
    @extend .list-none;
  }

  .depliant {
    margin-bottom: 0;

    > li {

      // liens
      > a {
        position: relative;
        padding: $spacing*0.5;
        font-weight: 600;
        // hover
        &:hover {
          color: white;
          background-color: $couleur-theme-darker;
        }
        &:focus {
          color: white;
        }
      }
      &.avec_sousmenu > a {
        &:after {
          @extend .icon:before;
          @extend .icon-right-open:before; // On a un problème mon capitaine...
          position:absolute;
          right:$spacing/1.5;
          top:50%;
          color:white;
          opacity:.2;
          transform: translateY(-45%) rotate(90deg);
        }
        &:focus:after,
        &:hover:after {
          opacity:1;
        }
      }
      &.avec_sousmenu.actif > a:after { opacity:1; }

      // actif
      &.actif {
        > a {
          background-color: $couleur-theme-darker;
        }
        // sous-menu
        > ul {
          display: block;
        }
      }

      // sous-menus
      > ul {
        display: none;
        z-index: 1;
        background-color: $couleur-neutre-light;

        a {
          display: block;
          padding: $spacing*0.5;
          color: $couleur-texte;
        }
        li:hover,
        li:focus,
        li.actif {
          > a {
            background-color: $couleur-neutre-light-alpha;
          }
        }
      }
    }
  }

  /* Responsive bureaux (voir aussi dans base/_layout.scss */
  @include tablet {
    .largeur {
      padding: 0;
    }
    .depliant {
      padding-top: $bando_principal_height;
      margin: 0; // pas besoin de gouttière
      height: 100vh;

      // --------
      // Niveau 1
      // --------
      > li {
        //flex-grow: 0;
        width: 100%;
        margin: 0; // pas besoin de gouttière

        // Hover & actif
        &.actif {
          // Apparition du sous menu
          > ul {
            display:block;
            opacity: 1;
            width: $largeur-menu;
          }
        }

        // liens
        > a {
          display: block;
          padding: $spacing $spacing*0.75;
          //padding-left: $spacing*2; // pour l'icône
          //background-size: $spacing auto;
          &:hover,
          &:focus {
            &:before {
              filter: none !important;
              opacity: 1;
            }
          }
          // Icône devant
          &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: $spacing;
            height: $spacing;
            margin-right: 0.5em;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            opacity: 0.66;
          }
        }

        // --------
        // Niveau 2
        // --------
        > ul {
          left: $largeur-menu;
          min-width: auto;
          transition: opacity 0.2s;
          box-shadow: 0.25em 0 0.25em rgba(0, 0, 0, 0.15);

          li {
            width: 100%;
            border-width: 0 0 1px;
            border-style: solid;
            border-color: $couleur-neutre-bordure;
          }
          a {
            background-image: none;
            padding-left:$spacing;
          }
        }
      }
    }
  }
}
