/**
 * Section : bando
 *
 * #bando_haut
 *   #bando_liens_rapides
 *   #bando_principal
 *      #bando_identite
 *      #bando_site
 *      #bando_outils
 *      #bando_rechercher
 *      #bando_collaborer
 *   #bando_navigation
 */

/**
 * ===============
 * Tous les bandos
 * ===============
 */
[id^=bando] {
  ul {
    @extend .list-none;
  }
}


/**
 * =========================
 * Bandeau liens d'évitement
 * =========================
 */
#bando_liens_rapides {
  display: none;
}


/**
 * =================
 * Bandeau principal
 * =================
 */

/* Ordonnancement général et alignement */
#bando_site       { order: 5; }
#bando_outils     { order: 2; }
#bando_rechercher { order: 4; }
#bando_identite   { order: 1; }
#bando_collaborer { order: 3; }

/* Conteneur et choses communes aux sous bandos */
$bando_principal_height: $bs*2;
#bando_principal {
  display: flex;
  align-items: center; // vertical
  height: $bando_principal_height;
  padding: 0 $bs;
  background-color: white;
  box-shadow: 0 0.15em 0.15em hsla(0, 0%, 0%, 0.066);

  // Tous les sous bandos
  > * {
    align-self: strech; // prendre toute la hauteur du conteneur
    display: flex;
    align-items: center; // vertical
    // espacements
    &:not(:last-child) {
      margin-right: $bs;
    }
    .deroulant + .deroulant {
      margin-left: $bs;
    }
  }

  // Tous les menus déroulants
  .deroulant {
    > li {
      display: flex;
      position: relative;
      z-index: 2;
      align-items: flex-end; // vertical
      margin-right: $bs/4;
      // icone
      > a {
        position: relative;
        display: flex;
        justify-content: center; // horizontal
        align-items: center; // vertical
        min-width: $bs;
        height: $bando_principal_height;
        line-height: 1;
        border: 3px solid transparent;
        border-width: 0 0 3px;
        text-align: center;
        // Icône pour indiquer qu'il y a un sous-menu
        &:after {
          content: '\e812'; // = .icon-down-fill;
          font-family: icons;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      // actif
      &.actif > a,
      > a:hover,
      > a:focus {
        color: $couleur-theme;
        border-color: $couleur-theme;
        &:after {
          color: $couleur-theme;
        }
      }
      // sous-menus
      ul {
        display: none;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
        min-width: 14em;
        padding: 0;
        background-color: white;
        box-shadow: 0 0.2em 0.2em hsla(0, 0%, 0%, 0.15);
        /* contour du ul pour faciliter le survol à la souris */
        &:before {
          z-index:-1;
          position:absolute;
          top:0;
          left:-2em;
          right:-2em;
          bottom:-2em;
          background-color:transparent;
          /*border:1px solid blue;*/
          content:'';
        }
        /* contour du 2è niveau */
        ul:before {
          top:-2em;
        }
        a {
          display: block;
          padding: $bs/2 $bs;
          line-height: 1.1;
          &:hover,
          &:focus {
            background-color: _hsl($teinte, $saturation, 95%);
          }
        }
      }
      &.actif,
      /*&:hover,*/
      &:focus {
        > ul {
          display: block;
          li.haschild {
            position: relative;
            > a {
              // Icône pour indiquer qu'il y a un autre sous-menu
              @extend .icon;
              @extend .icon-right-open;
              &:before {
                position: absolute;
                top: 50%;
                right: $bs/2;
                transform: translateY(-50%);
              }
            }
            > ul {
              right: 0;
              top: -$bs;
              bottom: initial;
            }
            &.actif {
              > ul {
                display: block;
                transform: translateX(100%);
              }
            }
          }
        }
      }
    }
  }

  // Boutons
  .rapides {
    .bouton {
      a {
        background-position: left $bs/4 center;
        background-repeat: no-repeat;
        padding-left: 1.8*$bs;
      }
    }
    &.deroulant ul {
      min-width:16em;
    }
  }

}

/* Nom du site et lien public */
#bando_site {
  .voir {
    margin-left: $bs;
  }
}

/* Recherche */
#bando_rechercher {
  flex: 1 1 auto;
  justify-content: center;
  input[name=recherche] {
    height: $bando_principal_height;
  }
}

/* Nom de l'utilisateurice */
#bando_identite {}

/* Boutons de créations rapides */
#bando_outils {

  // Plan du site
  .bando_rubriques {
    .plan_site {
      // icone
      > a {
        @extend .icon-tree;
        @extend .icon;
        img {
          display: none;
        }
      }
      // sous-menus
      ul {
        .toutsite {
          border-bottom: 1px dotted hsla(0, 0%, 0%, 0.2);
        }
      }
    }
  }

  // Création rapide
  .outil_creer {
    > a {
      @extend .icon;
      @extend .icon-create;
      text-indent: -999999px; // cacher le texte
    }
    > ul > li > a{
      padding-left: $bs*1.5; // place pour les icônes
    }
  }
}

/* Agenda et forum interne */
#bando_collaborer {
  // Création rapide
  .outil_collaborer {
    > a {
      @extend .icon;
      @extend .icon-calendar-empty;
      text-indent: -999999px; // cacher le texte
    }
    > ul > li > a{
      padding-left: $bs*1.5; // place pour les icônes
    }
  }
}


/**
 * ==============================
 * Bando de navigation principale
 * ==============================
 *
 * #bando_navigation
 *   .largeur
 *     ul.deroulant
 *       li(.actif)
 *         a#bando1_menu_XXX
 *         ul
 *           li.favori(.actif)
 *           li.non-favori(.actif)
 *
 */
.navigation_avec_icones a[id^=bando1_menu] {
  background-image: none !important;
}
#bando_navigation {
  z-index: 10;
  color: $couleur-neutre-light;
  //background-color: $couleur-neutre-dark;
  background-color: $couleur-theme-darkest;

  ul {
    @extend .list-none;
  }

  .deroulant {
    margin-bottom: 0;

    > li {
      position: relative;

      // actif
      &:hover,
      &:focus,
      &.actif {
        > a {
          background-color: $couleur-theme-dark;
        }
        // sous-menu
        > ul {
          display: block;
        }
      }

      // liens
      > a {
        @include gridle( grow );
        position: relative;
        padding: $bs*0.5;
        font-weight: 600;
        // hover
        &:hover,
        &:focus {
          color: white;
        }
      }

      // sous-menus
      > ul {
        display: none;
        z-index: 1;
        /*min-width: 100%;*/
        //background-color: lighten($couleur-neutre-dark, 10);
        background-color: $couleur-neutre-light;

        a {
          display: block;
          padding: $bs*0.5;
          color: $couleur-texte;
          // hover
          &:hover,
          &:focus {
           // color: white;
          }
        }
        li:hover,
        li:focus,
        li.actif {
          > a {
            background-color: $couleur-neutre-light-alpha;
          }
        }
      }
    }
  }

  /* Responsive bureaux (voir aussi dans base/_layout.scss */
  @include gridle_state( tablet-up) {
    .largeur {
      padding: 0;
    }
    .deroulant {
      padding-top: $bando_principal_height;
      margin: 0; // pas besoin de gouttière
      height: 100vh;

      // tous les liens
      a {
        //background-repeat: no-repeat;
        //background-position: $bs*0.5 center;
      }

      // --------
      // Niveau 1
      // --------
      > li {
        //flex-grow: 0;
        width: 100%;
        margin: 0; // pas besoin de gouttière

        // Hover & actif
        &:hover,
        &:focus,
        &.actif {
          // Apparition du sous menu
          > ul {
            opacity: 1;
            width: $largeur-menu;
            //display: flex;
            //flex-direction: column;
            //justify-content: center; // vertical
            //align-content: center; // pour resserer
            //align-items: center;
          }
        }

        // liens
        > a {
          display: block;
          padding: $bs $bs*0.75;
          //padding-left: $bs*2; // pour l'icône
          //background-size: $bs auto;
          &:hover,
          &:focus {
            &:before {
              filter: none !important;
              opacity: 1;
            }
          }
          // Icône devant
          &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: $bs;
            height: $bs;
            margin-right: 0.5em;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            opacity: 0.66;
          }
        }

        // --------
        // Niveau 2
        // --------
        > ul {
          /*position: fixed !important;*/
          /*overflow: hidden;*/
          /*top: 0 !important;*/
          position:fixed; // ne pas définir top: pour être relatif au parent
          margin-top:-3 * $bs;
          left: $largeur-menu;
          /*width: 0;*/
          min-width: auto;
          height: 100vh;
          padding-top: $bando_principal_height;
          transition: opacity 0.2s;
          box-shadow:
            0.25em 0 0.25em rgba(0, 0, 0, 0.15)/*,
            inset 0.1em 0 0.25em rgba(0, 0, 0, 0.2)*/;
          /* contour du ul pour faciliter le survol à la souris */
          &:before {
            z-index:-1;
            position:absolute;
            top:-2em;
            left:0em;
            right:-2em;
            bottom:-2em;
            background-color:transparent;
            /*border:1px solid blue;*/
            content:'';
          }
          li {
            width: 100%;
            text-align: center;
            border-width: 0 0 1px;
            border-style: solid;
            border-color: $couleur-neutre-bordure;
          }
          a {
            background-image: none;
          }
        }
      }
    }
  }
}
