/**
 * Module : boîtes
 */

/**
 * ==========================
 * Classe générique virtuelle
 * ==========================
 * Elle sert à étendre les vraies classes de SPIP
 * Une card est divisée en 3 sections :
 * - header
 * - content
 * - footer
 */
.gr-card {
  position: relative;
  margin-bottom: $bs;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.12);

  /* Header */
  &__header,
  &__pseudo-header {
    padding: $bs/2 $bs;
    background-color: $couleur-neutre-light;
    border-radius: 2px 2px 0 0;
    img {
      display: none;
    }
    &__title {
      margin: 0;
      display: inline-block;
    }
    .lat & {
      font-size: 1em;
      h2, h3, h4, h5 {
        font-size: inherit;
      }
    }
  }
  &__pseudo-header {
    margin-top: -$bs;
    margin-left: -$bs;
    margin-right: -$bs;
  }
  .cadre-icone {
    //margin-right: $bs*0.5;
    display: none; // pas de pollution visuelle !
  }

  /* contenu */
  &__content {
    padding: $bs;
    border-radius: 0 0 2px 2px; // s'il n'y a pas de footer
  }

  /* footer */
  &__footer,
  &__pseudo-footer {
    padding: $bs/2 $bs;
    border-radius: 0 0 2px 2px;
    background-color: $couleur-neutre-light;
  }
  &__pseudo-footer {
    margin-bottom: -$bs;
    margin-left: -$bs;
    margin-right: -$bs;
  }
}


/**
 * ==================
 * Les boîtes de SPIP
 * ==================
 */
.box {
  padding: 0;
  border: 0;
  @extend .gr-card;

  // Conteneur
  .inner {}

  // Trucs inutiles
  > b.top,
  > b.bottom {
    display: none;
  }

  // header
  .hd {
    @extend .gr-card__header;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @extend .gr-card__header__title;
    }
  }

  // Content
  .bd {
    @extend .gr-card__content;
  }

  // Footer
  .ft {
    @extend .gr-card__footer;
  }

  // Dans la navigation
  .lat & {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
    }
  }

  /**
   * ---------
   * Inception
   * ---------
   * Des boîtes dans des boîtes dans des boîtes...
   */
   .box {
     box-shadow: none;
     border: 1px solid $couleur-neutre-bordure;
   }


  /**
   * ---------
   * Variantes
   * ---------
   */

  /* sous-rubrique */
  &.sous-rub {
    .hd,
    .bd {
      background-color: white;
    }
    .titrem {
      @extend .icon-folder;
      @extend .icon;
      &:before {
        font-size: 1.2em;
        color: lighten($couleur-texte, 40);
      }
    }
    .bd {
      padding-top: 0;
      &:empty {
      padding: 0;
      }
    }
  }

  /* Simple = boîte de base */
  &.simple {}

  /*  Info */
  &.info {
    //border: 2px solid $couleur-theme-light;
    .hd {
      background-color: $couleur-theme;
      color: white;
    }
  }

  /* Important */
  &.important {
    //border: 2px solid $couleur-texte;
    .hd {
      background-color: lighten($couleur-neutre-dark, 10);
      color: white;
    }
  }

  /* Note */
  &.note {
    border-left: $bs/2 solid $couleur-theme-light;
    .hd {
      background-color: white;
      padding-top: $bs;
      padding-bottom: 0;
    }
  }

  /* Raccourcis */
  &.raccourcis {
    .hd {
      border-bottom: 1px solid $couleur-neutre-bordure;
    }
    .bd {
      background-color: $couleur-neutre-light;
    }
  }

  /* basic */
  &.basic {
    // toutes
    .hd {
      padding-top: $bs;
      padding-bottom: 0;
    }
    // highlight
    &.highlight {
      .hd,
      .bd {
        background-color: _hsl($teinte, 50%, 70%);
      }
      .hd {
        padding-bottom: 0;
        color: white;
      }
    }
    // inverse
    &.inverse {
      .hd,
      .bd {
        background-color: lighten($couleur-neutre-dark, 10);
        color: white;
      }
      .hd {
        padding-bottom: 0;
      }
    }
  }

}
