/**
 * Module : boutons
 */


 /**
 * ===================
 * les boutons de SPIP
 * ===================
 */


/**
 * Les icônes
 * (en général des liens vers des pages d'édition)
 */
.icone {
  display: inline-block;
  a {
    position: relative;
    padding: $bs/3 $bs/2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; // horizontal
    align-items: center; // vertical
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1;
    color: $couleur-theme-dark;
    background-color: transparent;
    border-radius: $radius;

    &:hover {
      background-color: $couleur-theme-lightest;
      box-shadow: 0 0.1em 0.1em hsla(0, 0%, 0%, 0.1);
      color: black;
    }
    b {
      font-weight: inherit;
    }
    img {
      display: none; // pollution visuelle !
    }
    &:before {
      font-size: 1.2em;
      margin-right: $bs/4; // icône éventuelle
    }
  }

  &.horizontale {} // par défaut
  &.verticale {
    a {
      flex-flow: column nowrap;
      max-width: 8em;
      &:before {
        font-size: 1.5em;
        margin: 0 0 $bs/6;
      }
    }
  }
  &.center {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
}

/**
 * Ajout d'icônes génériques
 */
// Toutes
.icone[class*=-edit-] a,
.icone[class*=-add-] a,
.icone[class*=-new-] a,
.icone[class*=-del-] a,
.icone[class*=preview] a,
.icone.ajouter a,
.icone.retour a,
.toggle_box_link,
.toggle_box_link > * {
  @extend .icon;
  &:before {
    visibility: visible;
  }
}
// Édition
.icone[class*=-edit-] a,
.formulaire_dater .toggle_box_link {
  @extend .icon-edit;
}
// Ajout / création
.icone[class*=-new-] a,
.icone[class*=-add-] a,
.icone.ajouter a,
.formulaire_editer_liens form > div > .toggle_box_link > * {
  @extend .icon-add;
}
// Suppression
.icone[class*=-del-] a,
.icone[class*=-suppr-] a {
  @extend .icon-delete;
}
button.link.delete {
  text-indent: -9999px;
  width: 0.8em;
  height: 0.8em;
  opacity: 0.66;
  img {
    display: none;
  }
  &:hover,
  &:focus {
    opacity: 1;
  }
}
// Preview
.icone[class*=preview] a {
  @extend .icon-eye;
}
// Retour
.icone.retour a {
  @extend .icon-left;
}


/**
 * Les boutons liens + toggle
 */
button.link,
.toggle_box_link,
.toggle_box_link:before {
  font-weight: bold;
  color: $couleur-theme-dark;
  font-size: 0.9rem;
}
button.link {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 0.8em auto;
  background-position: 0 center;
  padding: 0;
  border: none;
  &:hover,
  &:focus {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}
.toggle_box_link {
  text-align: right;
  // cachons les crochets
  visibility: hidden;
  > * {
    visibility: visible;
  }
}


/**
 * Tous les boutons
 */
button {
  img {
    //display: none; // Pollution visuelle !
  }
  &.delete,
  &[name^=supprimer] {
  }
}

/**
 * Les icônes d'aide
 */
.aide.popin {
  @extend .icon-help;
  display: inline-block;
  font-style: normal;
  &:before {
    font-family: "Icons";
  }
  img {
    display: none;
  }
}

/**
 * Les icônes d'info
 */
.plus_info {
  
}