/**
 * Module : divers
 * Des choses qu'on ne sait pas où ranger exactement
 */

/* Boite infos d'un objet */
.box .infos {
  text-align: center;
  // marge entre les éléments
  > * {
    margin-bottom: $spacing/2;
  }
  // Numéro
  .numero {
    color: $couleur-theme-dark;
    p {
      font-size: 5em;
      color: $couleur-theme;
    }
  }
}