/**
 * Module : fiche objet
 */

.fiche_objet {

  /* header */
  .hd {
    h1 {
      margin-top: 0;
      font-family: $font-family-texte;
    }
  }

  /**
   * Formulaires
   * Dans affiche_milieu, affiche_complement_objet, ...
   */
  .formulaire_spip {
    box-shadow: none;
    padding: 0;
    padding-bottom: $spacing/2;
    margin-bottom: $spacing/2;
    border-bottom: 1px dotted darken($couleur-neutre-light, 10);

    // Les titres éventuels uniformisés
    h2, h3, h4, h5, h6 {
      font-size: 1em;
      margin: 0;
    }
  }

  /**
   * Listes d'objets liés
  /* On affiche sous forme de liste et on cache tout ce qui est superflu
   */
  .liste-objets-lies {
    @extend .liste-objets.redux-max;
    @extend .liste-objets.minimal;
    @extend .liste-objets.inline;
  }

  // ??
  .over {
    display: none !important;
  }

  /* Note proposé */
  .box.propose {
    margin-top: $spacing*3;
  }

}
