
.icon-tree:before { content: '\e800'; } /* '' */
.icon-edit:before { content: '\e801'; } /* '' */
.icon-warning:before { content: '\e802'; } /* '' */
.icon-add:before { content: '\e803'; } /* '' */
.icon-down:before { content: '\e804'; } /* '' */
.icon-left:before { content: '\e805'; } /* '' */
.icon-right:before { content: '\e806'; } /* '' */
.icon-up:before { content: '\e807'; } /* '' */
.icon-dot:before { content: '\e808'; } /* '' */
.icon-eye:before { content: '\e809'; } /* '' */
.icon-delete:before { content: '\e80a'; } /* '' */
.icon-remove:before { content: '\e80b'; } /* '' */
.icon-help:before { content: '\e80c'; } /* '' */
.icon-ok:before { content: '\e80d'; } /* '' */
.icon-uppercase:before { content: '\e80e'; } /* '' */
.icon-resize-full:before { content: '\e80f'; } /* '' */
.icon-resize-small:before { content: '\e810'; } /* '' */
.icon-forbidden:before { content: '\e811'; } /* '' */
.icon-down-fill:before { content: '\e812'; } /* '' */
.icon-left-fill:before { content: '\e813'; } /* '' */
.icon-right-fill:before { content: '\e814'; } /* '' */
.icon-up-fill:before { content: '\e815'; } /* '' */
.icon-caracteres:before { content: '\e816'; } /* '' */
.icon-italic:before { content: '\e817'; } /* '' */
.icon-bold:before { content: '\e818'; } /* '' */
.icon-guillemets_simples:before { content: '\e819'; } /* '' */
.icon-code:before { content: '\e81a'; } /* '' */
.icon-indenter:before { content: '\e81b'; } /* '' */
.icon-desindenter:before { content: '\e81c'; } /* '' */
.icon-notes:before { content: '\e81d'; } /* '' */
.icon-guillemets:before { content: '\e81e'; } /* '' */
.icon-header1:before { content: '\e81f'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-refresh:before { content: '\f025'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
.icon-upload:before { content: '\f02f'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-export:before { content: '\f081'; } /* '' */
.icon-info:before { content: '\f085'; } /* '' */
.icon-liste_ul:before { content: '\f0ca'; } /* '' */
.icon-liste_ol:before { content: '\f0cb'; } /* '' */
.icon-create:before { content: '\f0fe'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-folder:before { content: '\f4c2'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */
.icon-lock:before { content: '\f512'; } /* '' */
.icon-unlock:before { content: '\f513'; } /* '' */