/**
 * Module : formulaires
 */

/**
 * =======================
 * Les éléments génériques
 * =======================
 */

// Les boutons
input,
button {
  font-family: $font-family-texte; // sinon styles OS
  font-size: 1em;
}
input[type=submit],
button {
  
}

// Tous les inputs
input,
select,
textarea {
  font-family: $font-family-texte;
}

// Les inputs avec un cadre
input.text,
input[type=text],
input[type=password],
input[type=number],
input[type=url],
input[type=telephone],
textarea,
select {
  width: 100%;
  border: 1px solid rgba($couleur-neutre-bordure, 0.2);
  transition: border 0.2s;
  transition: box-shadow 0.2s;
  border-radius: 2px;
  &:focus {
    border-color: $couleur-theme;
    box-shadow: 0 0 0.5em _hsla($teinte, 70%, 70%, 0.5);
  }
}

// Les inputs sur une seule ligne
input.text,
input[type=text],
input[type=password],
input[type=number],
input[type=url],
input[type=telephone],
select:not([multiple]) {
  height: $bs*2;
  padding: 0 $bs/2;
}

// Textarea
textarea {
  height: auto;
  min-height: $bs*3;
  padding: $bs $bs/2;
}

// Selects
select {
  width: auto;
  .lat & {
    width: 100%;
  }
}

// Fieldset
fieldset {
  margin: $bs*2 0;

  // titre
  > legend,
  .legend {
    @extend .h2;
    display: block;
    width: 100%;
    margin-top: 0;
    padding-bottom: $bs/2;
    border-bottom: 2px solid $couleur-neutre-bordure;
    font-weight: 400;
    color: $couleur-theme-dark;
    color: lighten($couleur-texte, 33);
  }
}

/**
 * =========================
 * Les choses propres à SPIP
 * =========================
*/

/* Conteneur sur une fiche */
.cadre-formulaire-editer {
  .entete-formulaire {
    @extend .gr-card__header;
  }
  h1 {
    margin: 0;
    clear: both;
  }
}

/* Formulaires SPIP */
.formulaire_spip {
  margin-bottom: $bs;
  font-family: $font-family-texte; // pour ceux qui sont dans le #wysiwyg
  @extend .gr-card;
  @extend .gr-card__content;

    // pseudo header
  > h3:first-child {
    @extend .gr-card__pseudo-header;

  }

  // Conteneur des saisies
  .editer-groupe,
  ul:not(.spip) {
    @include list-none();
  }

  // Conteneur d'une saisie
  .editer {
    margin-bottom: $bs;
    overflow: hidden;

    &:last-child {
      margin-bottom: 0;
    }
    label {
      margin-bottom: $bs/3;
      display: block;
      font-weight: bold;
    }
    .explication {
      margin-bottom: $bs/2;
    }
  }

  // Choix multiples : checkbox, radios
  .choix {
    display: inline-block;
    margin-right: $bs;

    input {
      margin: 0 $bs/4 0 0;
      position: relative;
      top: 0.3em; // pour aligner
    }
    label {
      display: inline-block;
      margin: 0;
      font-weight: normal;
      vertical-align: middle;
    }

  }

  // Paragraphes d'explication
  .explication {
    font-style: italic;
    color: lighten($couleur-texte, 20);
  }

  // Erreurs de champs
  .erreur_message {
    display:block;
    border-left:5px solid $couleur-erreur;
    padding-left:$bs/4;
    color:darken($couleur-erreur, 20%);
    margin-bottom:$bs/2;
    // Confirmation dans erreur… hum ?
    & input[type=checkbox] { display:inline-block; margin-left:0; margin-right: $bs/4; }
    & input[type=checkbox] + label { display:inline-block; margin-bottom:0; }
  }

  // Les boutons à la fin représentent le footer
  > form > div > .boutons:last-child {
    @extend .gr-card__pseudo-footer;
    margin-top: $bs;
  }
  .boutons {
    display: flex;
    justify-content: flex-end;
  }
  // les boutons
  input[type=button], input[type=submit], button {
    padding:$bs/2 $bs;
    background-color: hsl(0, 3%, 71%);
    border:0;
    & + input[type=button], & + input[type=submit], & + button {
      margin-left:$bs/2;
    }
    &:hover {
      background-color: hsl(0, 0%, 95%);
    }
    &:focus {
      background-color: #222;
      color:#f2f2f2;
    }
  }
  input[type=submit], button[type=submit] {
    background-color: $couleur-theme-darker;
    color:white;
    &:hover {
      background-color: $couleur-theme-darkest;
    }
  }

  // Dans une colonne + boite
  .lat .box & {
    box-shadow: none;
    padding: 0;
  }

  /**
   * =======================
   * Formulaires spécifiques
   * =======================
   */

  &.formulaire_editer_liens {
    // Essayons d'afficher la liste des contenus liés et le bouton d'ajout côte-à-côte
    form > div {
      display: flex;
      flex-wrap: wrap;
      // lien d'ajout quand le sélecteur n'est pas affiché
      > .toggle_box_link {
        margin-left: auto;
      }
    }
    // boîte d'ajout
    .selecteur {
      flex-grow: 1;
      min-width: 100%; // Doit passer à la ligne
      padding: $bs/2;
      background-color: $couleur-neutre-light;
      position: relative;
      // Lien pour fermer
      .toggle_box_link {
        display: none; // Il y a déjà un bouton pour fermer en principe (dans le form)
      }
      .titrem,
      h3 {
        margin: 0 0 $bs/2;
        text-align: center;
      }
      label {
        display: inline-block;
        margin-right: $bs;
      }
      .boutons {
        margin: 0;
        padding: 0;
      }
    }
    // Liste des contenus à ajouter
    .liste-objets-associer {
      margin-bottom: $bs/2;
      background-color: transparent;
      // Faux header (quand aucun résultat par ex.)
      &.caption-wrap {
        @extend .gr-card;
        @extend .gr-card__content;
      }
    }
  }

  &.formulaire_recherche {
    float: right;
    position: relative;
    padding: 0;
    background-color: transparent;
    box-shadow: none;

    label {
      @extend .visually-hidden;
    }
    input[name=recherche] {
      width: 10em;
      height: $bs*1.5;
      padding-right: 2em; // pour l'icone
      border-radius: 100em;
      transition: width 0.2s;
      // focus : étendre
      &:focus {
        width: 15em;
        font-size: 1.2em;
      }
    }
    input.image {
      position: absolute;
      top: 50%;
      right: 0.2em;
      transform: translateY(-50%);
    }
    // dans le bando
    #bando_rechercher & {
      margin: 0;
      float: none;
      input[name=recherche] {
        padding-left: 0;
        border-style: solid;
        border-width: 0 0 2px;
        border-color: $couleur-theme;
        border-radius: 0;
        background: transparent;
        height: $bs*2;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  &.formulaire_dater {
    label {
      display: inline-block;
    }
    .toggle_box_link {
      float: right;
    }
  }

  &.formulaire_configurer_reducteur {
    .vignette_reducteur {
      width: 150px;
      height: 150px;
    }
  }

  &.formulaire_instituer {
    select {
      background-repeat: no-repeat;
      background-position: 0.5em center;
    }
  }

  &.formulaire_editer_logo {
    .apercu {
      text-align: center;
    }
  }

}
