/**
 * Module : icônes fontface
 *
 * PAS les .icone de SPIP ! Voir dans _buttons.scss
 */

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'griseus2000';
    src: url('../font/griseus2000.svg?38284040#griseus2000') format('svg');
  }
}
*/

/* Complément (pour les @extend) */
.icon {
  &:before,
  &:after {
    font-family: "Icons";
    font-weight: normal;
    text-indent: 0; // si on a caché le texte
    display: inline-block;
  }
  &:before {
    margin-right: $spacing/4;
  }
  &:after {
    margin-left: $spacing/4;
  }
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "Icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}