/**
 * Module : listes
 */

/**
 * ===============
 * Listes d'objets
 * ===============
 * Il s'agit de tableaux.
 * Par défaut, affichées sous forme de card.
 * Variantes virtuelles possibles : 
 * - .minimal : cacher les colonnes superflues
 * - .redux :   enlever la décoration
 * - .inline :  afficher sous forme de liste
 */
.liste-objets {
  @extend .gr-card;
  //@extend .gr-card__content;

  // Le tableau
  table.liste {
    margin-bottom: 0;
  }

  // Titre du tableau 
  caption {
    //@extend .gr-card__pseudo-header;
    //margin-bottom: $bs;
    padding: $bs;
  }

  // Header
  thead {
    // la ligne principale, en principe
    tr.first_row {
      background-color: $couleur-neutre-claire;
      //border-top: 1px solid $couleur-neutre-bordure;
      th {
        border: none;
      }
    }
    // cellules
    th {
      padding-top: 0;
      padding-bottom: 0;

      a,
      strong {
        display: block;
        padding: $bs*0.25 0;
      }
      // picto pour indiquer les items triables
      a,
      .on {
        @extend .icon-down;
        @extend .icon;
        &:before {
          margin-right: 0.25em;
          font-size: 0.9em;
        }
      }
      // tri actif
      .on {
        color: $couleur-dark;
        @include couleurs-spip(color, $couleur-dark-params);
      }
      // liens
      a {
        // picto triable
        &:before {
          color: lighten($couleur-texte, 50);
        }
        &:hover:before,
        &:focus:before {
          color: $couleur-defaut;
          @include couleurs-spip(color);
        }
      }
      // pollution visuelle !
      img {
        display: none;
      }
    }
  }

  /* Dans la navigation latérale */
  .lat & {
    @extend .liste-objets.redux;
  }

  /* Dans une boîte */
  .box & {
    @extend .liste-objets.minimal;
  }

  /* Dans une fiche d'objet : voir _fiche_objet.scss */

  /**
   * --------------------
   * Variantes virtuelles
   * --------------------
   * Elles servent à étendre les vraies classes de SPIP
   */


  /**
   * Décoration minimale (pas de bordure, etc.)
   */
  &.minimal,
  .minimal & {
    box-shadow: none;
    padding: 0;
    margin: 0;

    .liste {
      margin: 0;
    }
    caption {
      padding: $bs/2 0;
      margin: 0;
      background-color: transparent;
    }
  }

  /**
   * Cacher le contenu superflu
   * Dans l'idéal, il ne reste que les colonnes du titre et de l'id
   */
  &.redux,
  &.redux-max,
  .redux &,
  .redux-max & {
    tr {
      display: flex;
    }
    td,
    th {
      flex: 1 1 auto;
      display: none;
      padding-top: $bs/4;
      padding-bottom: $bs/4;
      &.principale, &.titre, &.nom, &.action, &.id {
        display: table-cell;
      }
    }
  }
  &.redux-max,
  .redux-max & {
    td, 
    th {
      &.id {
        display: none;
      }
    }
  }

  /**
   * Affichage sous forme de liste.
   * Pour gagner de la place dans les fiches des objets.
   */
  &.inline,
  .inline & {
    thead,
    tfoot {
      display: none;
    }
    caption {
      text-align: left;
    }
    tbody {
      display: flex;
      flex-flow: row wrap auto;
      tr {
        display: flex;
        flex-flow: row nowrap;
      }
      td {
        padding: 0;
        border: none;
        &:visible {
          display: inline-block;
        }
      }
    }
  }

}


/**
 * ==============
 * Listes d'items
 * ==============
 * Pour faire des menus
 * [TODO] .item.favori
 */
.liste_items,
.liste-items {
  @extend .list-none;

  .item {
    padding: $bs/2 0;
    position: relative;

     // bordures
    &:not(:last-child) {
      border-bottom: 1px solid $couleur-neutre-bordure;
    }

    // items pas actifs
    &:not(.on) {
      a {
        // hover
        &:hover,
        &:focus {
          background-color: $couleur-neutre-claire-alpha;
        }
      }
    }
    // item actif
    &.on {
      a {
        padding-left: $bs/2;
        font-weight: bold;
        color: white;
        background-color: $couleur-dark;
        @include couleurs-spip(background-color, $couleur-dark-params);
        // hover
        &:hover,
        &:focus {
          cursor: default;
          text-decoration: none;
        }
      }
    }

    // liens : faire en sorte qu'ils épousent la hauteur du conteneur (.item)
    a {
      display: block;
      padding: inherit;
      margin-top: -$bs/2;
      margin-bottom: -$bs/2;
    }
  }

  /**
   * ---------
   * Variantes
   * ---------
   */

  /* Sous navigation (menu de configuration, etc.) */
  &.sous_navigation {
    @extend .gr-card;
    //@extend .gr-card__content;
    .item {
      a {
        padding-left: $bs;
        padding-right: $bs;
      }
      // items pas actifs
      &:not(.on) {
        a {
          // hover
          &:hover,
          &:focus {
            background-color: $couleur-neutre-claire-alpha;
            text-indent: $bs/4;
          }
        }
      }
      // item actif
      &.on {
        a {
          color: $couleur-texte;
          background-color: $couleur-neutre-claire-alpha;
          border-left: $bs/2 solid $couleur-defaut;
          @include couleurs-spip(border-left-color);
        }
      }
      // Pollution visuelle
      a {
        background-image: none;
      }
    }
  }
}
