/**
 * Module : listes
 */

/**
 * ===============
 * Listes d'objets
 * ===============
 * Il s'agit de tableaux.
 * Par défaut, affichées sous forme de card.
 * Variantes virtuelles possibles : 
 * - .minimal : cacher les colonnes superflues
 * - .redux :   enlever la décoration
 * - .inline :  afficher sous forme de liste
 */
.liste-objets {
  @extend .gr-card;
  //@extend .gr-card__content;

  // Le tableau
  table.liste {
    margin-bottom: 0;
  }

  // Titre du tableau 
  caption {
    //@extend .gr-card__pseudo-header;
    //margin-bottom: $spacing;
    padding: $spacing;
  }

  // Header
  thead {
    // la ligne principale, en principe
    tr.first_row {
      background-color: $couleur-lightest;
      //border-top: 1px solid $couleur-bordure;
      th {
        border: none;
      }
    }
    // Cellules
    th {
      padding-top: 0;
      padding-bottom: 0;

      a,
      strong {
        display: block;
        padding: $spacing*0.25 0;
      }
      // Picto pour indiquer les items triables
      a,
      .on {
        @extend .icon;
        //@extend .icon-ellipsis-vert;
        @extend .icon-down-open;
        &:before {
          margin-right: 0.5em;
          font-size: 0.9em;
        }
      }
      // Tri actif
      .on {
        color: $couleur-theme-dark;
      }
      // Liens
      a {
        // Picto triable
        &:before {
          color: $couleur-texte-light;
        }
        &:hover:before,
        &:focus:before {
          color: $couleur-theme;
        }
      }
      // Pollution visuelle !
      img {
        display: none;
      }
    }
  }

  /* Dans la navigation latérale */
  .lat & {
    @extend .liste-objets.redux;
  }

  /* Dans une boîte */
  .box & {
    @extend .liste-objets.minimal;
  }

  /* Dans une fiche d'objet : voir _fiche_objet.scss */

  /**
   * --------------------
   * Variantes virtuelles
   * --------------------
   * Elles servent à étendre les vraies classes de SPIP
   */


  /**
   * Décoration minimale (pas de bordure, etc.)
   */
  &.minimal,
  .minimal & {
    box-shadow: none;
    padding: 0;
    margin: 0;

    .liste {
      margin: 0;
    }
    caption {
      padding: $spacing/2 0;
      margin: 0;
      background-color: transparent;
    }
  }

  /**
   * Cacher le contenu superflu
   * Dans l'idéal, il ne reste que les colonnes du titre et de l'id
   */
  &.redux,
  &.redux-max,
  .redux &,
  .redux-max & {
    tr {
      display: flex;
    }
    td,
    th {
      display: none; // On cache tout par défaut
      flex: 1 1 auto;
      padding-top: $spacing/4;
      padding-bottom: $spacing/4;
      // On choisit les colonnes à afficher
      &.principale, &.titre, &.nom, &.action, &.id {
        display: flex; // Ou table-cell
      }
      // Le numéro aligné à droite
      &.id {
        flex: 0 1 auto;
        margin-left: auto;
      }
    }
  }
  &.redux-max,
  .redux-max & {
    td, 
    th {
      &.id {
        display: none;
      }
    }
  }

  /**
   * Affichage sous forme de liste.
   * Pour gagner de la place dans les fiches des objets.
   */
  &.inline,
  .inline & {
    .liste {
      display: flex;
      flex-flow: row wrap;
    }
    caption {
      padding: 0;
      //margin-right: $spacing;
      text-align: left;
    }
    .caption {
      display: flex;
      flex-direction: row-reverse; // Popin à gauche
    }
    thead,
    tfoot {
      display: none;
    }
    tbody {
      display: flex;
      flex-flow: row wrap;
      tr {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-left: $spacing/2;
        &:hover {
          background-color: transparent;
        }
      }
      td {
        align-items: center;
        padding: 0;
        border: none;
      }
      .action {
        margin-left: $spacing/6;
      }
    }
  }

}


/**
 * ==============
 * Listes d'items
 * ==============
 * Pour faire des menus
 * [TODO] .item.favori
 */
.liste_items,
.liste-items {
  @extend .list-none;

  .item {
    padding: $spacing/2 0;
    position: relative;
    transition: background-color 0.2s;

     // Bordures
    &:not(:last-child) {
      border-bottom: 1px solid $couleur-bordure;
    }

    // Items pas actifs
    &:not(.on) {
      // hover
      &:hover,
      &:focus {
        background-color: transparentize($couleur-lightest, 0.9);
      }
    }
    // Item actif
    &.on {
      padding-left: $spacing;
      font-weight: bold;
      color: white;
      background-color: $couleur-theme-dark;
      a {
        color: inherit;
      }
    }
  }

  /**
   * ---------
   * Variantes
   * ---------
   */

  /**
   * Sous navigation (menu de configuration, etc.)
   * Les items sont censés contenir uniquement un lien
   */
  &.sous_navigation {
    @extend .gr-card;
    //@extend .gr-card__content;
    .item {
      a {
        padding-left: $spacing;
        padding-right: $spacing;
      }
      // items pas actifs
      &:not(.on) {
        
        a {
          // hover
          &:hover,
          &:focus {
            background-color: transparentize($couleur-lightest, 0.9);
            text-indent: $spacing/4;
          }
        }
      }
      // item actif
      &.on {
        background-color: transparent;
        a {
          margin-left: -$spacing;
          padding-left: $spacing/2;
          color: $couleur-texte;
          background-color: transparentize($couleur-lightest, 0.9);
          border-left: $spacing/2 solid $couleur-theme;
          // hover
          &:hover,
          &:focus {
            cursor: default;
            text-decoration: none;
          }
        }
      }
      // Liens
      a {
        // liens : faire en sorte qu'ils épousent la hauteur du conteneur (.item)
        display: block;
        padding: inherit;
        padding-left: $spacing;
        margin-top: -$spacing/2;
        margin-bottom: -$spacing/2;
        // Pollution visuelle
        background-image: none;
      }
    }
  }
}
