/**
 * Module : markitup
 */

.markItUp {

  // Onglets et barre d'outil {
  .markItUpTabs,
  .markItUpHeader ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch; // vertical
    height: $bs*2;
  }

  // Onglets édition / prévisu  /plein écran
  .markItUpTabs {
    top: 1px;
    right: 1px;
    padding: 0;
    font-size: 0.8em;
    font-weight: bold;
    background-color: transparent;
    box-shadow: inset 0 -0.1em -0.1em hsla(0, 0%, 0%, 0.1);
    a {
      @extend .icon;
      display: flex;
      flex-direction: column;
      justify-content: center; // vertical
      align-items: center; // horizontal
      padding: 0 $bs/2;
      margin: 0;
      border-radius: 0;
      border: 3px solid transparent;
      border-width: 3px 0;
      background-color: transparent;
      &:last-child {
        border-top-right-radius: $radius;
      }
      // Items pas actifs
      &:not(.on) {
        &:hover,
        &:focus {
          color: $couleur-theme;
          border-bottom-color: $couleur-theme-lightest;
          background-color: transparent;
        }
      }
      // Items actifs
      &.on {
        position: relative;
        color: $couleur-theme-dark;
        box-shadow: none;
        border-bottom-color: $couleur-theme-light;
        border-width: 0 0 3px;
        background-color: transparent;
      }
      // Item prévisu
      &.previsuVoir {
        @extend .icon-eye;
      }
      // Item édition
      &.previsuEditer {
        @extend .icon-edit;
      }
      // Item fullscreen
      &.fullscreen {
        @extend .icon-resize-full;
        background-image: none !important;
        width: auto;
        text-indent: 0;
      }
      // Icônes
      &:before {
        margin: 0;
        font-size: 1rem;
      }
    }
  }

  // Header = barre d'outils
  .markItUpHeader {
    border-bottom: none;
    border-radius: $radius;
     ul {
      background-color: $couleur-neutre-light;
      
      li {
        display: flex;
        align-items: stretch; // vertical
      }
      a {
        position: relative;
        display: flex;
        align-items: center; // vertical
        padding: 0 $bs/2;
        color: lighten($couleur-texte, 20);
        &:hover,
        &:focus {
          color: $couleur-theme;
        }
      }
      .separateur {
        border-left: 1px dotted hsla(0, 0%, 0%, 0.2);
      }
      // Item avec un sous menu
      .markItUpDropMenu > a {
        @extend .icon;
        @extend .icon-down-fill;
        position: relative;
        &:before {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          line-height: 1;
        }
        /*&:not(:hover):not(:focus):before {
          color: $couleur-texte-light;
        }*/
      }
      // Sous menu
      a:hover + ul,
      a:focus + ul,
      ul:hover,
      ul:focus {
        display: flex !important; // en js = block
      }
      ul {
        top: auto;
        bottom: -100%;
        width: auto;
      }
      /* Les icônes */
      [class*=outil_] > a {
          > em {
          @extend .icon;
          font-style: normal;
          &:before {
            text-indent: 0;
          }
        }
      }
      $outils: (header1, bold, italic, liste_ul, liste_ol, link, notes,caracteres, guillemets, guillemets_simples, indenter, desindenter, code);
      @each $outil in $outils {
        .outil_#{$outil} > a > em {
          @extend .icon-#{$outil};
          background-image: none;
          &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
          }
        }
      }
      
    }
  }

  // Textarea
  .markItUpEditor {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  // Preview
  .markItUpPreview {
    border-top: none;
  }

  // Mode fullscreen
  .markItUpContainer.fullscreen {

    .markItUpPreview,
    .markItUpEditor {
      margin-top: $bs*2; // hauteur de la barre
      padding: $bs*2 $bs;
      border: none;
    }
    .markItUpTabs {
      .fullscreen {
        @extend .icon-resize-small;
        background-image: none !important;
      }
    }
    .markItUpPreview {
      background-color: $couleur-neutre-light;
      box-shadow: inset 0.1em -0.1em 0.1em hsla(0, 0%, 0%, 0.15); 
    }

  }

}