/**
 * Module : onglets
 */

/**
 * ====================
 * Les barres d'onglets
 * ====================
 * Pour naviguer entre différentes pages
 */
.barre_onglet {
  margin-bottom: $bs;
  // pas besoin de marge si dernier élément en haut
  #haut & {
    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    @extend .list-none;
    display: flex;
    justify-content: center;

    li {
      @include gridle( adapt no-gutter );
      // Tous les items
      a,
      strong {
        padding: $bs/2 $bs;
        color: white;
        font-weight: bold;
        border-bottom: 3px solid $couleur-dark;
        @include couleurs-spip(border-bottom-color, $couleur-dark-params);
      }
      // Item actif
      strong {
        background-color: $couleur-dark;
        @include couleurs-spip(background-color, $couleur-dark-params);
      }
      // Items pas actifs
      a {
        background-color: $couleur-darkest;
        @include couleurs-spip(background-color, $couleur-darkest-params);
        // hover
        &:hover,
        &:focus {
          background-color: $couleur-defaut;
          @include couleurs-spip(background-color);
          color: white;
        }
      }
      // Bordure arrondie au début et à la fin
      &:first-child {
        a,
        strong {
          border-top-left-radius: $radius;
          border-bottom-left-radius: $radius;
        }
      }
      &:last-child {
        a,
        strong {
          border-top-right-radius: $radius;
          border-bottom-right-radius: $radius;
        }
      }
    }
  }

  img {
    display: none; // pollution visuelle
  }
}


/**
 * ===================
 * Les onglets simples
 * ===================
 * Pour naviguer entre différentes sections d'une même page
 */
.onglets_simple {
  display: flex;
  justify-content: center;
  margin-bottom: $bs;

  /**
   * ----------------
   * Tous les niveaux
   * ----------------
   */
  > ul {
    @extend .list-none;
    display: flex;
    flex-flow: row wrap auto;
  }
  // Item actif
  strong {
    color: $couleur-dark;
    @include couleurs-spip(color, $couleur-dark-params);
  }
  // Items pas actifs
  a {
    font-weight: 600;
  }
  img {
    display: none; // pollution visuelle
  }

  /**
   * ----------
   * 1er niveau
   * ----------
   */
  &:not(.second) {
    ul {
      border-bottom: 1px solid $couleur-neutre-bordure;
    }
    // Tous les items
    a,
    strong {
      display: block;
      padding: $bs/2 $bs;
      margin-bottom: -1px; // pour passer sur la bordure inférieure du <ul>
      border-bottom: 4px solid transparent;
      transition: border 0.2s;
    }
    // Items pas actifs
    a {
      &:hover,
      &:focus {
        border-bottom-color: $couleur-light;
        @include couleurs-spip(border-bottom-color, $couleur-light-params);
      }
    }
    // Item actif
    strong {
      border-bottom-color: $couleur-defaut;
      @include couleurs-spip(border-bottom-color);
    }
  }

  /**
   * ----------
   * 2nd niveau
   * ----------
   */
  &.second {
    ul { }
    li {
      &:not(:first-child) {
        @extend .icon;
        @extend .icon-dot;
        &:before {
          line-height: 0;
          font-size: 2em;
          position: relative;
          top: 0.2em;
          color: $couleur-texte-light;
        }
      }
    }
    // Tous les items
    a,
    strong {
      position: relative;
      padding: 0 $bs/2;
    }
    // Items pas actifs
    a {
      &:hover,
      &:focus {}
    }
    // Item actif
    strong {}
  }
}
