/**
 * Module : pagination
 */

.pagination {
  display: flex;
  padding: $bs/2 $bs/2;

  // Tous les items
  .pages,
  .all {
    display: flex;
    justify-content: flex-end;
    > * {
      text-align: center;
    }
  }

  // Les pages
  .pages {
    flex: 1 1 auto;
     * {
      flex: 0 1 2.5em; // largeur de base avec possibilité de se réduire si manque de place
     }
  }

  // Lien pour tout afficher
  .all {
    flex: 0 1 auto;
    a {
      padding: 0 0.75em;
    }
  }

  // Liens
  a {
    &:not(:hover):not(:focus) {
      color: $couleur-texte-light;
    }
    &:hover,
    &:focus {
      background-color: $couleur-neutre-claire;
      border-radius: $radius;
    }
  }

  // Item actif (<strong>)
  .on {
    background-color: $couleur-lighter;
    @include couleurs-spip(background-color, $couleur-lighter-params);
    border-radius: $radius;
  }

  // Séparation
  .sep {
    display: none;
  }
}