/**
 * Module : pagination
 */

.pagination {
  display: flex;
  justify-content: flex-end;
  padding: $bs/2 $bs/2;

  // Tous les items
  .pages,
  .all {
    display: flex;
  }

  // Liste des pages
  .pages {
    display: flex;
    > * {
      padding: 0 0.75em;
    }
  }

  // Lien pour tout afficher
  .all {

  }

  // liens
  a {
    &:not(:hover):not(:focus) {
      color: $couleur-texte-light;
    }
    &:hover,
    &:focus {
      background-color: $couleur-neutre-claire;
      border-radius: $radius;
    }
  }

  // Item actif (<strong>)
  .on {
    background-color: $couleur-lighter;
    @include couleurs-spip(background-color, $couleur-lighter-params);
    border-radius: $radius;
  }

  // Séparation
  .sep {
    display: none;
  }
}