/**
 * Module : wysiwyg
 */

#wysiwyg {

  max-width: 50em;
  margin: $spacing*4 auto;

  .invisible {
    display: none;
  }

  .champ {
    .label,
    &.contenu_titre,
    &.vide {
      display: none;
    }
  }

}

#wysiwyg,
.markItUpPreview {
  font-family: $font-family-serif;
  font-size: 1.2em;
}

.markItUpPreview {
  padding: $spacing;
}